.header {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.header__left {
  flex: 0.5;
  display: flex;
  color: gray;
  background-color: white;
  border-radius: 30px;
  align-items: center;
  padding: 10px;
}

.header__left > input {
  border: none;
  width: 100%;
  min-width: 60px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > h4 {
  margin-left: 10px;
  color: rgb(250, 250, 250);
}
